{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="container">
    <form action='/results' method="GET" class="graph_form">
        <div class="form">
            <div class="class">
                Class Type:
                <input type="text" name="class_type" list="class_type_list">
                <datalist id="class_type_list">
                    <option value="Aquatic">
                    <option value="Beast">
                    <option value="Bird">
                    <option value="Bug">
                    <option value="Dawn">
                    <option value="Dusk">
                    <option value="Mech">
                    <option value="Plant">
                    <option value="Reptile">
                </datalist>
            </div>
            <div class="eyes">
                Eyes:
                <input type="text" name="eyes" list="eyes_list">
                <datalist id="eyes_list">
                    <option value="None">
                    <option value="Calico Zeal">
                    <option value="Puppy">
                    <option value="Snowflakes">
                    <option value="Zeal">
                    <option value="Bookworm">
                    <option value="Broken Bookworm">
                    <option value="Kotaro?">
                    <option value="Neo">
                    <option value="Nerdy">
                    <option value="Icy Gaze">
                    <option value="Little Owl">
                    <option value="Lucas">
                    <option value="Mavis">
                    <option value="Robin">
                    <option value="Sky Mavis">
                    <option value="Blossom">
                    <option value="Confused">
                    <option value="Cucumber Slice">
                    <option value="Dreamy Papi">
                    <option value="Papi">
                    <option value="Clear">
                    <option value="Gero">
                    <option value="Insomnia">
                    <option value="Sleepless">
                    <option value="Telescope">
                    <option value="Yen">
                    <option value="Crimson Gecko">
                    <option value="Dokuganryu">
                    <option value="Gecko">
                    <option value="Kabuki">
                    <option value="Scar">
                    <option value="Topaz">
                    <option value="Tricky">
                </datalist>
            </div>
            <div class="mouth">
                Mouth:
                <input  type="text" name="mouth" list="mouth_list">
                <datalist id="mouth_list">
                    <option value="None">
                    <option value="Axies Kiss">
                    <option value="Confident">
                    <option value="Nut Cracker">
                    <option value="Skull Cracker">
                    <option value="Cute Bunny">
                    <option value="Feasting Mosquito">
                    <option value="Kawaii">
                    <option value="Mosquito">
                    <option value="Pincer">
                    <option value="Square Teeth">
                    <option value="Doubletalk">
                    <option value="Hungry Bird">
                    <option value="Little Owl">
                    <option value="Mr. Doubletalk">
                    <option value="Peace Maker">
                    <option value="Herbivore">
                    <option value="Humorless">
                    <option value="Rudolph">
                    <option value="Serious">
                    <option value="Silence Whisper">
                    <option value="Zigzag">
                    <option value="Catfish">
                    <option value="Geisha">
                    <option value="Lam">
                    <option value="Lam Handsome">
                    <option value="Piranha">
                    <option value="Risky Fish">
                    <option value="Dango">
                    <option value="Kotaro">
                    <option value="Razor Bite">
                    <option value="Tiny Carrot">
                    <option value="Tiny Turtle">
                    <option value="Toothless Bite">
                    <option value="Venom Bite">
                </datalist>
            </div>
            <div class="back">
                Back:
                <input  type="text" name="back" list="back_list">
                <datalist id="back_list">
                    <option value="None">
                    <option value="Furball">
                    <option value="Hamaya">
                    <option value="Hasagi">
                    <option value="Hero">
                    <option value="Jaguar">
                    <option value="Risky Beast">
                    <option value="Ronin">
                    <option value="Timber">
                    <option value="Buzz Buzz">
                    <option value="Candy Canes">
                    <option value="Garish Worm">
                    <option value="Sandal">
                    <option value="Scarab">
                    <option value="Snail Shell">
                    <option value="Spiky Wing">
                    <option value="Starry Shell">
                    <option value="Balloon">
                    <option value="Cupid">
                    <option value="Kingfisher">
                    <option value="Origami">
                    <option value="Pigeon Post">
                    <option value="Raven">
                    <option value="Starry Ballon">
                    <option value="Tri Feather">
                    <option value="Bidens">
                    <option value="Mint">
                    <option value="Pink Turnip">
                    <option value="Pumpkin">
                    <option value="Shiitake">
                    <option value="Turnip">
                    <option value="Watering Can">
                    <option value="Yakitori">
                    <option value="Anemone">
                    <option value="Blue Moon">
                    <option value="Crystal Hermi">
                    <option value="Goldfish">
                    <option value="Hermit">
                    <option value="Perch">
                    <option value="Sponge">
                    <option value="1ND14N-5T4R">
                    <option value="Bone Sail">
                    <option value="Croc">
                    <option value="Frozen Bucket">
                    <option value="Green Thorns">
                    <option value="Indian Star">
                    <option value="Red Ear">
                    <option value="Rugged Sail">
                    <option value="Tri Spikes">
                </datalist>
            </div>
            <div class="ears">
                Ears:
                <input type="text" name="ears" list="ears_list">
                <datalist id="ears_list">
                    <option value="None">
                    <option value="Belieber">
                    <option value="Innocent Lamb">
                    <option value="Merry Lamb">
                    <option value="Nut Cracker">
                    <option value="Nyan">
                    <option value="Point Nyan">
                    <option value="Zen">
                    <option value="Beetle Spike">
                    <option value="Ear Breathing">
                    <option value="Earwing">
                    <option value="Larva">
                    <option value="Leaf Bug">
                    <option value="Mon">
                    <option value="Tassels">
                    <option value="Vector">
                    <option value="Curly">
                    <option value="Early Bird">
                    <option value="Hearth Cheek">
                    <option value="Karimata">
                    <option value="Owl">
                    <option value="Peace Maker">
                    <option value="Pink Cheek">
                    <option value="Risly Bird">
                    <option value="Clover">
                    <option value="Hollow">
                    <option value="Leafy">
                    <option value="Lotus">
                    <option value="Maiako">
                    <option value="Pinecones">
                    <option value="Rosa">
                    <option value="Sakura">
                    <option value="NonThe Last Leaf">
                    <option value="Bubblemaker">
                    <option value="Gill">
                    <option value="Inkling">
                    <option value="Nimo">
                    <option value="Red Nimo">
                    <option value="Seaslug">
                    <option value="Tiny Fan">
                    <option value="Curved Spine">
                    <option value="Deadly Pogona">
                    <option value="Friezard">
                    <option value="Pogona">
                    <option value="Sidebarb">
                    <option value="Small Frill">
                    <option value="Swirl">
                </datalist>
            </div>
            <div class="horns">
                Horns:
                <input  type="text" name="horns" list="horns_list">
                <datalist id="horns_list">
                    <option value="None">
                    <option value="Arco">
                    <option value="Dual Blade">
                    <option value="Imp">
                    <option value="Kendama">
                    <option value="Little Branch">
                    <option value="Merry">
                    <option value="Pocky">
                    <option value="Umaibo">
                    <option value="Winter Branch">
                    <option value="Antenna">
                    <option value="Caterpillars">
                    <option value="Lagging">
                    <option value="Laggingggggg">
                    <option value="Leaf Bug">
                    <option value="P4R451T3">
                    <option value="Parasite">
                    <option value="Pliers">
                    <option value="Cuckoo">
                    <option value="Eggshell">
                    <option value="Feather Spear">
                    <option value="Golden Shel">
                    <option value="Kestrel">
                    <option value="Spruce Spear">
                    <option value="Trump">
                    <option value="Wing Horn">
                    <option value="Bamboo Shoot">
                    <option value="Breech">
                    <option value="Cactus">
                    <option value="Golden Bamboo Shoot">
                    <option value="Rose Bud">
                    <option value="Santa's Gift">
                    <option value="Strawberry Shortcake">
                    <option value="Yorishiro">
                    <option value="5H04L-5T4R">
                    <option value="Anemone">
                    <option value="Babylonia">
                    <option value="Candy Babylonia">
                    <option value="Clamshell">
                    <option value="Oranda">
                    <option value="Shoal Star">
                    <option value="Teal Shell">
                    <option value="Bumpy">
                    <option value="Cerastes">
                    <option value="Incisor">
                    <option value="Pinku Unko">
                    <option value="Scaly Spear">
                    <option value="Scaly Spoon">
                    <option value="Unko">
                </datalist>
            </div>
            <div class="tail">
                Tail:
                <input  type="text" name="tail" list="tail_list">
                <datalist id="tail_list">
                    <option value="None">
                    <option value="Cottontail">
                    <option value="Gerbil">
                    <option value="Hare">
                    <option value="Nut Cracker">
                    <option value="Rice">
                    <option value="Sakura Cottontai">
                    <option value="Shiba">
                    <option value="Ant">
                    <option value="Fire Ant">
                    <option value="Fish Snack">
                    <option value="Gravel Ant">
                    <option value="Maki">
                    <option value="Pupae">
                    <option value="Thorny Caterpillar">
                    <option value="Twin Tail">
                    <option value="Cloud">
                    <option value="Feather Fan">
                    <option value="Granma's Fan">
                    <option value="Omatsuri">
                    <option value="Post Fight">
                    <option value="Snowy Swallow">
                    <option value="Swallow">
                    <option value="The Last One">
                    <option value="Carrot">
                    <option value="Cattail">
                    <option value="Hatsune">
                    <option value="Hot Butt">
                    <option value="Namek Carrot">
                    <option value="Potato Leaf">
                    <option value="Yam">
                    <option value="Koi">
                    <option value="Koinobori">
                    <option value="Kuro Koi">
                    <option value="Navaga">
                    <option value="Nimo">
                    <option value="Ranchu">
                    <option value="Shrimp">
                    <option value="Tadpole">
                    <option value="December Surprise">
                    <option value="Escaped Gecko">
                    <option value="Fir Trunk">
                    <option value="Gila">
                    <option value="Grass Snake">
                    <option value="Iguana">
                    <option value="Snake Jar">
                    <option value="Tiny Dino">
                    <option value="Wall Gecko">
                    <option value="None">
                </datalist>
            </div>
            <div class="breeds_min">
                <input  type="text" name="breeds_min" placeholder="breeds_min" />
            </div>
            <div class="breeds_max">
                <input  type="text" name="breeds_max" placeholder="breeds_max" />
            </div>
            <div class="min_value">
                <input  type="text" name="min_value" placeholder="min_value" />
            </div>
            <div class="max_value">
                <input  type="text" name="max_value" placeholder="max_value" />
            </div>
            <div class="health">
                <input  type="text" name="min_health" placeholder="health" />
            </div>
            <div class="speed">
                <input  type="text" name="min_speed" placeholder="speed" />
            </div>
            <div class="skill">
                <input  type="text" name="min_skill" placeholder="skill" />
            </div>
            <div class="morale">
                <input  type="text" name="min_morale" placeholder="morale" />
            </div>
            <div class="eye_gene">
                Eyes Gene:
                <input type="text" name="eye_gene" list="eye_gene_list">
                <datalist id="eye_gene_list">
                    <option value="None">
                    <option value="Calico Zeal">
                    <option value="Puppy">
                    <option value="Snowflakes">
                    <option value="Zeal">
                    <option value="Bookworm">
                    <option value="Broken Bookworm">
                    <option value="Kotaro?">
                    <option value="Neo">
                    <option value="Nerdy">
                    <option value="Icy Gaze">
                    <option value="Little Owl">
                    <option value="Lucas">
                    <option value="Mavis">
                    <option value="Robin">
                    <option value="Sky Mavis">
                    <option value="Blossom">
                    <option value="Confused">
                    <option value="Cucumber Slice">
                    <option value="Dreamy Papi">
                    <option value="Papi">
                    <option value="Clear">
                    <option value="Gero">
                    <option value="Insomnia">
                    <option value="Sleepless">
                    <option value="Telescope">
                    <option value="Yen">
                    <option value="Crimson Gecko">
                    <option value="Dokuganryu">
                    <option value="Gecko">
                    <option value="Kabuki">
                    <option value="Scar">
                    <option value="Topaz">
                    <option value="Tricky">
                </datalist>
            </div>
            <div class="ear_gene">
                Ear Gene:
                <input  type="text" name="ear_gene" list="ear_gene_list">
                <datalist id="ear_gene_list">
                    <option value="None">
                    <option value="Belieber">
                    <option value="Innocent Lamb">
                    <option value="Merry Lamb">
                    <option value="Nut Cracker">
                    <option value="Nyan">
                    <option value="Point Nyan">
                    <option value="Zen">
                    <option value="Beetle Spike">
                    <option value="Ear Breathing">
                    <option value="Earwing">
                    <option value="Larva">
                    <option value="Leaf Bug">
                    <option value="Mon">
                    <option value="Tassels">
                    <option value="Vector">
                    <option value="Curly">
                    <option value="Early Bird">
                    <option value="Hearth Cheek">
                    <option value="Karimata">
                    <option value="Owl">
                    <option value="Peace Maker">
                    <option value="Pink Cheek">
                    <option value="Risly Bird">
                    <option value="Clover">
                    <option value="Hollow">
                    <option value="Leafy">
                    <option value="Lotus">
                    <option value="Maiako">
                    <option value="Pinecones">
                    <option value="Rosa">
                    <option value="Sakura">
                    <option value="NonThe Last Leaf">
                    <option value="Bubblemaker">
                    <option value="Gill">
                    <option value="Inkling">
                    <option value="Nimo">
                    <option value="Red Nimo">
                    <option value="Seaslug">
                    <option value="Tiny Fan">
                    <option value="Curved Spine">
                    <option value="Deadly Pogona">
                    <option value="Friezard">
                    <option value="Pogona">
                    <option value="Sidebarb">
                    <option value="Small Frill">
                    <option value="Swirl">
                </datalist>
            </div>
            <div class="mouth_gene">
                Mouth Gene:
                <input  type="text" name="mouth_gene" list="mouth_gene_list">
                <datalist id="mouth_gene_list">
                    <option value="None">
                    <option value="Axies Kiss">
                    <option value="Confident">
                    <option value="Nut Cracker">
                    <option value="Skull Cracker">
                    <option value="Cute Bunny">
                    <option value="Feasting Mosquito">
                    <option value="Kawaii">
                    <option value="Mosquito">
                    <option value="Pincer">
                    <option value="Square Teeth">
                    <option value="Doubletalk">
                    <option value="Hungry Bird">
                    <option value="Little Owl">
                    <option value="Mr. Doubletalk">
                    <option value="Peace Maker">
                    <option value="Herbivore">
                    <option value="Humorless">
                    <option value="Rudolph">
                    <option value="Serious">
                    <option value="Silence Whisper">
                    <option value="Zigzag">
                    <option value="Catfish">
                    <option value="Geisha">
                    <option value="Lam">
                    <option value="Lam Handsome">
                    <option value="Piranha">
                    <option value="Risky Fish">
                    <option value="Dango">
                    <option value="Kotaro">
                    <option value="Razor Bite">
                    <option value="Tiny Carrot">
                    <option value="Tiny Turtle">
                    <option value="Toothless Bite">
                    <option value="Venom Bite">
                </datalist>
            </div>
            <div class="horn_gene">
                Eye Gene:
                <input  type="text" name="horn_gene" list="horn_gene_list">
                <datalist id="horn_gene_list">
                    <option value="None">
                    <option value="Arco">
                    <option value="Dual Blade">
                    <option value="Imp">
                    <option value="Kendama">
                    <option value="Little Branch">
                    <option value="Merry">
                    <option value="Pocky">
                    <option value="Umaibo">
                    <option value="Winter Branch">
                    <option value="Antenna">
                    <option value="Caterpillars">
                    <option value="Lagging">
                    <option value="Laggingggggg">
                    <option value="Leaf Bug">
                    <option value="P4R451T3">
                    <option value="Parasite">
                    <option value="Pliers">
                    <option value="Cuckoo">
                    <option value="Eggshell">
                    <option value="Feather Spear">
                    <option value="Golden Shel">
                    <option value="Kestrel">
                    <option value="Spruce Spear">
                    <option value="Trump">
                    <option value="Wing Horn">
                    <option value="Bamboo Shoot">
                    <option value="Breech">
                    <option value="Cactus">
                    <option value="Golden Bamboo Shoot">
                    <option value="Rose Bud">
                    <option value="Santa's Gift">
                    <option value="Strawberry Shortcake">
                    <option value="Yorishiro">
                    <option value="5H04L-5T4R">
                    <option value="Anemone">
                    <option value="Babylonia">
                    <option value="Candy Babylonia">
                    <option value="Clamshell">
                    <option value="Oranda">
                    <option value="Shoal Star">
                    <option value="Teal Shell">
                    <option value="Bumpy">
                    <option value="Cerastes">
                    <option value="Incisor">
                    <option value="Pinku Unko">
                    <option value="Scaly Spear">
                    <option value="Scaly Spoon">
                    <option value="Unko">
                </datalist>
            </div>
            <div class="back_gene">
                Back Gene:
                <input  type="text" name="back_gene" list="back_gene_list">
                <datalist id="back_gene_list">
                    <option value="None">
                    <option value="Furball">
                    <option value="Hamaya">
                    <option value="Hasagi">
                    <option value="Hero">
                    <option value="Jaguar">
                    <option value="Risky Beast">
                    <option value="Ronin">
                    <option value="Timber">
                    <option value="Buzz Buzz">
                    <option value="Candy Canes">
                    <option value="Garish Worm">
                    <option value="Sandal">
                    <option value="Scarab">
                    <option value="Snail Shell">
                    <option value="Spiky Wing">
                    <option value="Starry Shell">
                    <option value="Balloon">
                    <option value="Cupid">
                    <option value="Kingfisher">
                    <option value="Origami">
                    <option value="Pigeon Post">
                    <option value="Raven">
                    <option value="Starry Ballon">
                    <option value="Tri Feather">
                    <option value="Bidens">
                    <option value="Mint">
                    <option value="Pink Turnip">
                    <option value="Pumpkin">
                    <option value="Shiitake">
                    <option value="Turnip">
                    <option value="Watering Can">
                    <option value="Yakitori">
                    <option value="Anemone">
                    <option value="Blue Moon">
                    <option value="Crystal Hermi">
                    <option value="Goldfish">
                    <option value="Hermit">
                    <option value="Perch">
                    <option value="Sponge">
                    <option value="1ND14N-5T4R">
                    <option value="Bone Sail">
                    <option value="Croc">
                    <option value="Frozen Bucket">
                    <option value="Green Thorns">
                    <option value="Indian Star">
                    <option value="Red Ear">
                    <option value="Rugged Sail">
                    <option value="Tri Spikes">
                </datalist>
            </div>
            <div class="tail_gene">
                Tail Gene:
                <input  type="text" name="tail_gene" list="tail_gene_list">
                <datalist id="tail_gene_list">
                    <option value="None">
                    <option value="Cottontail">
                    <option value="Gerbil">
                    <option value="Hare">
                    <option value="Nut Cracker">
                    <option value="Rice">
                    <option value="Sakura Cottontai">
                    <option value="Shiba">
                    <option value="Ant">
                    <option value="Fire Ant">
                    <option value="Fish Snack">
                    <option value="Gravel Ant">
                    <option value="Maki">
                    <option value="Pupae">
                    <option value="Thorny Caterpillar">
                    <option value="Twin Tail">
                    <option value="Cloud">
                    <option value="Feather Fan">
                    <option value="Granma's Fan">
                    <option value="Omatsuri">
                    <option value="Post Fight">
                    <option value="Snowy Swallow">
                    <option value="Swallow">
                    <option value="The Last One">
                    <option value="Carrot">
                    <option value="Cattail">
                    <option value="Hatsune">
                    <option value="Hot Butt">
                    <option value="Namek Carrot">
                    <option value="Potato Leaf">
                    <option value="Yam">
                    <option value="Koi">
                    <option value="Koinobori">
                    <option value="Kuro Koi">
                    <option value="Navaga">
                    <option value="Nimo">
                    <option value="Ranchu">
                    <option value="Shrimp">
                    <option value="Tadpole">
                    <option value="December Surprise">
                    <option value="Escaped Gecko">
                    <option value="Fir Trunk">
                    <option value="Gila">
                    <option value="Grass Snake">
                    <option value="Iguana">
                    <option value="Snake Jar">
                    <option value="Tiny Dino">
                    <option value="Wall Gecko">
                    <option value="None">
                </datalist>
            </div>
            <div class="date_start">
                <br>
                <input  type="text" name="date_start" placeholder="date_start" />
            </div>
            <div class="date_end">
                <br>
                <input  type="text" name="date_end" placeholder="date_end" />
            </div>
            <div class="tail_gene_chance_min">
                <br>
                <input  type="text" name="tail_gene_chance_min" placeholder="tail_gene_chance_min" />
            </div>
            <div class="back_gene_chance_min">
                <br>
                <input  type="text" name="back_gene_chance_min" placeholder="back_gene_chance_min" />
            </div>
            <div class="horn_gene_chance_min">
                <br>
                <input  type="text" name="horn_gene_chance_min" placeholder="horn_gene_chance_min" />
            </div>
            <div class="mouth_gene_chance_min">
                <br>
                <input  type="text" name="mouth_gene_chance_min" placeholder="mouth_gene_chance_min" />
            </div>
            <div class="ear_gene_chance_min">
                <br>
                <input  type="text" name="ear_gene_chance_min" placeholder="ear_gene_chance_min" />
            </div>
            <div class="eye_gene_chance_min">
                <br>
                <input  type="text" name="eye_gene_chance_min" placeholder="eye_gene_chance_min" />
            </div>
            <div class="search">
                <br>
                <input  type="submit" value="Search"/>
            </div>
        </div>
    </form>
    <div class="graph">
        <p>Console:
        <pre>Dev: DrWild
-> @Discord: Drwild#0138

There must be a class_type
all parts/genes start with capital letter ex: Tiny Turtle
None = (any part)
chances
-> (R1:37.5 D1 R1:9.375 R2:3.125), max is 50
-> chances must be a whole number without dot or comma

graph
-> the color bar describes the axies that fall in the search terms and have the same value,
   the goal is to catch market tendencies based on the color

search_result
-> value is etherium at the corresponding date record
-> organized from lowest to highest value then date
-> Attributes: [Hp, Speed, Skill, Morale]
-> Purity: Straight from source (not calculated from genes)
-> Date: dates need to be logical, dates must be according to strptime format
-----> date_start: None = from the earliest known date
-----> date_end: None = latest date</pre>
        </p>
    </div>
    <div class="console">
        <p>Console:
        <pre>{{error_message}}</pre>
        </p>
    </div>
    <div class="receit">
        <p>Axies in Graph:
        <pre>{{axies_in_graph}}</pre>
        </p>
    </div>
</div>